body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.first {
    background-color: #1F2937;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 5px 70px;
    align-items: center;
}

.header-logo {
    font-weight: bold;
}

.header-links {
    color: lightgray;
    font-size: 10px;
    display: flex;
    gap: 10px;
}

.first-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
}

.first-container-words {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first-sign-up {
    color: white;
    background-color:#3882f6;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}

.first-container-header {
    font-size: 20px;
    font-weight: bold;
}

div img {
    height: 50px;
    width: 200px;
}
.quote-container {
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.quote-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    max-width: 50%;
}

.quote {
    font-size: 15px;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-size: 10px;
    font-weight: bold;
}

.sign-up {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.sign-up-container {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 40px;
    border-radius: 5px;
    max-width: 75%;
    gap: 100px;
}

.sign-up-header {
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    height: 50px;
    align-items: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.sign-up-button {
    color: white;
    border: 1px solid white;
    border-radius: 5px; 
    background-color: #3882f6;
    padding: 2px 30px;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.box-header {
    font-weight: bold;
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 5px;
}

.boxes {
    display: flex;
    gap: 30px;
}

.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    text-align: center;
    gap: 5px;
    max-width: 60px;
   
}